@model bootstrap5.Models.ViewModels.IndexViewModel
@using bootstrap5.App_Start.Helpers
@{
    ViewBag.Title = "Home Page";

}

@Html.ValidateBt5()

<div class="container mt-3">
    <h3>Form Validation</h3>
    <p>Try to submit the form.</p>

    <form id="test-form"class="need-validate" novalidate action="@Url.Action("Login")">
        <div class="mb-3 mt-3">
            <label for="uname" class="form-label">Username:</label>
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control need-validate", validate_on_executing = "onValidate", placeholder = "Enter username", required="" })
            @Html.ValidationMessageBT5For(x => x.UserName, "Please fill out this field test.", new { @Class = "test", id = "div-test" })

        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label ">Password:</label>
            @Html.PasswordFor(x => x.Password, new { @class = "form-control need-validate", placeholder = "Enter password", required = "" })
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input need-validate" type="checkbox" id="myCheck" name="remember" required>
            <label class="form-check-label" for="myCheck">I agree on blabla.</label>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Check this checkbox to continue.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/custom-bootstrap-5/validator/bootstrap-validator-5.js"></script>
@*@section scripts{
    <script>
        //const custom = new BootstrapValidator5("#test-form");

        //function onValidate(el) {
        //    if ($(el).val().length === 0) {
        //        return "Reqired Test";
        //    }
        //}

    </script>
}*@
